.card-image-mere {
    width: 100%;
    height: 330px;
    border: 1px solid white(184, 156, 156);
    padding: 20px;

}

.card-image-fille-1 {
    width: 30%;
    height: 250px;
    border: 1px solid white(108, 110, 108);
    float: left;
    margin-right: 85px;
}

.card-image-fille-1 img {
    width: 100%;
    height: 80%;

}

.card-image-fille-1 a {
    border: 1px solid white(118, 118, 119);
    text-decoration: none;
    color: white;
    background-color: #4CAF50;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 2px 2px 2px 2px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
}

.card-image-fille-1 span {
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
}



.card-image-fille-2 {
    width: 30%;
    height: 250px;
    border: 1px solid white(108, 110, 108);
    float: left;
    margin-right: 100px;

}

.card-image-fille-2 img {
    width: 100%;
    height: 80%;
}

.card-image-fille-2 a {
    border: 1px solid white(118, 118, 119);
    text-decoration: none;
    color: white;
    background-color: #4CAF50;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 2px 2px 2px 2px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
}

.card-image-fille-2 span {
    padding: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
}



.card-image-fille-3 {
    width: 25%;
    height: 250px;
    border: 1px solid white(108, 110, 108);
    float: left;

}

.card-image-fille-3 img {
    width: 100%;
    height: 80%;
}

.card-image-fille-3 a {
    border: 1px solid white(118, 118, 119);
    text-decoration: none;
    color: white;
    background-color: #4CAF50;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 2px 2px 2px 2px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
}

.card-image-fille-3 span {
    padding: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
}