*{
    box-sizing: border-box;
}
/* body{
    color: none;
    line-height: 22px;
    font-size: 16px;
} */
.f_header{
    line-height: 22px;
    color: none;
    text-decoration: none;
    border-bottom: solid 1px rgba(0, 139, 139, 0.521);
    margin: 0 auto;
    text-transform: capitalize;
    font-weight: bold;
    font-family: 'Advent Pro', sans-serif;
}
a{
    text-decoration: none;
}
.wrapper{
    margin: 0 auto;
    width: 1000px;
}
.f_header li {
    display: inline-block;
    vertical-align: top;
    position: relative;
    
}
.f_header img {
    display: inline-block;
    vertical-align: top;
    width: 40px;
        height: 40px;
        margin-left: 10px;
        margin-right: 40px;
}
.f_header li a {
    display: block;
    padding: 12px;
    color: darkcyan;
}
.f_header li a:hover {
    background-color: darkcyan;
    color: #fff;
}
.f_header li:hover .sub_menu{
    display: block;
    /* background-color: darkcyan; */
    color: #fff;
}
.sub_menu{
    display: none;
    color: #fff; 
    position: absolute;
    border: #ddd solid 1px;
    
}

.sub_menu li a{
width: 130px;   
}


/* responsive  */
.f_toogle {
    float: right;
    

}
.f_toogle .hamburger {
    display: none;
}
.f_toogle .cancel {
    display: none;
}
/* Small devices (landscape phones, 576px and up) */






/* <link type="image/png" sizes="32x32" rel="icon" href=".../icons8-hamburger-32.png"> */
/* <link type="image/png" sizes="32x32" rel="icon" href=".../icons8-cancel-32.png"> */