









*{
    box-sizing: border-box;
}
body{
    color: none;
    font-family: 'Courier New', Courier, monospace;
    line-height: 22px;
    font-size: 16px;

  
}
.f_header{
    color: none;
    text-decoration: none;
    border-bottom: solid 1px rgba(0, 139, 139, 0.521);
    margin: 0 auto;
}
a{
    text-decoration: none;
}
.wrapper{
    margin: 0 auto;
    width: 1000px;
}
.f_header li {
    display: inline-block;
    vertical-align: top;
    position: relative;
    
}
.f_header img {
    display: inline-block;
    vertical-align: top;
}
.f_header li a {
    display: block;
    padding: 12px;
    color: darkcyan;
}
.f_header li a:hover {
    background-color: darkcyan;
    color: #fff;
}
.f_header li:hover .sub_menu{
    display: block;
    /* background-color: darkcyan; */
    color: #fff;
}
.sub_menu{
    display: none;
    color: #fff; 
    position: absolute;
    border: #ddd solid 1px;
    
}

.sub_menu li a{

width: 130px;
    
}


/* responsive  */
